#container{
	font-family: verdana,arial,sans-serif;
}
.main-title{
	margin-bottom:10px;
	text-align:center;
} 
.selection-header{
	color:navy; 
	margin-bottom:10px; 
	font-size:16px;	
}
.enter{
	margin-left:3%;
	background-color:gray;
	width:27%;
	height:85%; 
	float:left;
    clear: none;
}
.login-box{
	background-image: url('../images/table-images/cell-blue-big.jpg');
	background-position: 0% 0%;
	background-repeat: repeat-x;
	margin:10px
}
.login-header{
	margin-top: 20px;
	margin-left: 10px;
}

#user-select{
	font-family: verdana,arial,sans-serif;
	padding-right:2%; 
	padding-left:2%; 
	margin-left:3%;
	/*border:1px solid navy; */
	background-color: #EEEEFF; 
	color:#333333; 
	width:30%;
    height:92%; 
    float:left; 
    clear:none;
}
.selection-text{
}			

#My_queries{
	margin-right: 3%;
	border:1px solid #999999;
	width:58%;
	height:92%;
	float: right; 
	clear:right; 
	text-align:center;
}
table{
	margin-left:auto; 
	margin-right:auto;
}
table.imagetable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #999999;
	border-collapse: collapse;
}
table.imagetable th {
	background:#b5cfd2 url('../images/table-images/cell-blue.jpg');
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #999999;
}
table.imagetable td {
	background:#dcddc0 url('../images/table-images/cell-grey.jpg');
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #999999;
}

.about{
	margin-right: 3%;
	border:1px solid #999999; 	
	background-color:#EEEFEE;
	width:64%;
	height:85%;
	float:right; 
	clear:right; 
	text-align:center;
}

.footer{	
	clear:both;
	text-align:center;
	padding: 5px;
	font-size:10px;
}
