#container {
	font-family: verdana, arial, sans-serif;
}
.main-title {
	margin-bottom: 10px;
	text-align: center;
}
.selection-header {
	color: navy;
	margin-bottom: 10px;
	font-size: 16px;
}
.enter {
	margin-left: 3%;
	width: 27%;
	height: 85%;
	float: left;
	clear: none;
}
.login-box {
	background-position: 0% 0%;
	background-repeat: repeat-x;
	padding-top: 2px;
	padding-left: 5px;
	float: right;
}
.login-header {
	margin-top: 20px;
	margin-left: 10px;
}
.user-select {
	font-family: verdana, arial, sans-serif;
	padding-right: 2%;
	padding-left: 2%;
	margin-left: 3%;
	/*border:1px solid navy; */
	/*background-color: #EEEEFF;*/
	background-color: rgb(215,231,232);
	color: #333333;
	width: 30%;
	height: 92%;
	float: left;
	clear: none;
}
#adminActions p {
	cursor: pointer;
}
.selection-text {
}
#My_queries {
	margin-right: 3%;
	border: 1px solid #999999;
	width: 58%;
	height: 92%;
	float: right;
	clear: right;
	text-align: center;
	padding: 8px;
}
#My_queries p {
	text-align: left;
}

#My_queries_info p {
	text-align: center;
}
table {
	margin-left: auto;
	margin-right: auto;
}
table.imagetable {
	font-family: verdana, arial, sans-serif;
	font-size: 11px;
	color: #333333;
	border-width: 1px;
	border-color: #999999;
	border-collapse: collapse;
}
table.imagetable th {
	background: #b5cfd2 url('../images/table-images/cell-blue.jpg');
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #999999;
}
table.imagetable td {
	background: #dcddc0 url('../images/table-images/cell-grey.jpg');
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #999999;
}
.about {
	margin-right: 3%;
	border: 1px solid #999999;
	background-color: #EEEEFF;
	width: 65%;
	height: 85%;
	float: right;
	clear: right;
	text-align: left;
}
.about h3 {
	text-align: center;
}
.about p {
	line-height: 150%;
	padding-left: 30px;
	padding-right: 30px;
}
.footer {
	clear: both;
	text-align: center;
	padding: 5px;
	font-size: 10px;
}
#adminActions {
	font-family: verdana, arial, sans-serif;
	padding-right: 2%;
	padding-left: 2%;
	margin-left: 3%;
	background-color: rgb(215,231,232);
	font-size: 16px;
}
.formGrayOut {
	/*background: #ccc;*/
	opacity:0.4;
	filter:alpha(opacity=40); /* For IE8 and earlier */
}
.validator {
	display: inline;
	height: 16px;
	width: 16px;
	margin-left: 6px;
	margin-top: -2px;
}
.sendQuery {
	margin-left: 0px;
	margin-top: 10px;
	vertical-align:-15px;
}
.sendQueryValidator {
	display: block;
	margin-left: 10px;
	margin-top: 10px
}
.resetForm {
	margin-left: 10px;
	margin-top: 10px
}
